.layout-demo {
  padding: 0 32px;
  overflow: hidden;
  min-height: 100vh;
  background-color: #f6f7f9;
}

.section {
  margin-bottom: 40px;

  .title {
    margin: 40px 0;
    font-size: 28px;
    color: #495060;
  }

  .c-col {
    margin-bottom: 20px;
    color: #fff;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: #39a9ed;
    }

    &:nth-child(even) {
      background-color: #66c6f2;
    }
  }
}
