@import '../../../assets/demo.scss';

.layout-demo {
  .c-col {
    margin-bottom: 20px;
    color: #fff;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: #39a9ed;
    }

    &:nth-child(even) {
      background-color: #66c6f2;
    }
  }
}
