.c-icon-loading {
  margin-right: 4px;
  animation: turn 1s linear infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
