/* postcss-pxtransform disable */
@import '../styles/variable.scss';

$cell-prefix-cls: #{$class-prefix}-cell;
$cell-group-prefix-cls: #{$class-prefix}-cell-group;

.#{$cell-group-prefix-cls} {
  &__title {
    margin: 0;
    padding: 16px 16px;
    color: $title-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  .#{$cell-prefix-cls} {
    &::after {
      position: absolute;
      right: 16px;
      bottom: 0;
      left: 16px;
      box-sizing: border-box;
      display: block;
      content: '';
      border-bottom: 1px solid #ebedf0;
      transform: scaleY(0.5);
      pointer-events: none;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
