/* postcss-pxtransform disable */
@import '../styles/variable.scss';

$cell-prefix-cls: #{$class-prefix}-cell;
$cell-group-prefix-cls: #{$class-prefix}-cell-group;

.#{$cell-group-prefix-cls} {
  &__title {
    margin: 0;
    padding: 16px 16px;
    color: $title-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}
