$class-prefix: c;
$grid-columns: 24;

$default-color: #fddfd6;
$primary-color: #52c3ff;
$success-color: #5ae2e2;
$warning-color: #fdcb57;
$danger-color: #f877a0;
$dark-color: #3d3e45;
$light-color: #fff;

$title-color: #172239;
$text-color: #8d8d95;

$border-color: #ededed;
$background-color-base: #f7f7f7;

$size-font-small: 13px;
$size-font-base: 16px;
$size-font-large: 20px;
