$class-prefix: c;
$grid-columns: 24;

$default-color: #fde3dc;
$primary-color: #69c9fa;
$success-color: #66e7e7;
$warning-color: #fcd264;
$danger-color: #f983ae;
$dark-color: #3d3e45;
$light-color: #fff;

$title-color: #34333c;
$text-color: #a0a0a0;

$border-color: #f1f1f1;
$background-color-base: #f7f7f7;

$size-font-small: 13px;
$size-font-base: 16px;
$size-font-large: 20px;
