$class-prefix: c;

$primary-color: #3880ff;
$secondary-color: #3dc2ff;
$tertiary-color: #5260ff;
$success-color: #2dd36f;
$warning-color: #ffc409;
$danger-color: #eb445a;
$dark-color: #222428;
$medium-color: #92949c;
$light-color: #f4f5f8;

$title-color: #1c2438;
$text-color: #495060;
$background-color-base: #f7f7f7;

$size-font-small: 13px;
$size-font-base: 16px;
$size-font-large: 20px;
