/* postcss-pxtransform disable */
@import '../styles/variable.scss';

$cell-prefix-cls: #{$class-prefix}-cell;
$icon-prefix-cls: #{$class-prefix}-icon;

.#{$cell-prefix-cls} {
  position: relative;
  display: flex;
  padding: 10px 16px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  color: $text-color;

  &--center {
    align-items: center;
  }

  .#{$cell-prefix-cls}__left-icon,
  .#{$cell-prefix-cls}__right-icon {
    display: inline-flex;
    align-items: center;

    .#{$icon-prefix-cls} {
      font-size: 18px;
    }
  }

  .#{$cell-prefix-cls}__left-icon {
    .#{$icon-prefix-cls} {
      margin-right: 4px;
      color: $title-color;
    }
  }

  .#{$cell-prefix-cls}__right-icon {
    .#{$icon-prefix-cls} {
      margin-left: 4px;
      color: $text-color;
    }
  }

  &__title {
    flex: 1;
    color: $title-color;
  }

  &__label {
    margin-top: 4px;
    color: #969799;
    font-size: 12px;
    line-height: 18px;
  }

  &__value {
    flex: 1;
    text-align: right;
  }

  &::after {
    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;
    box-sizing: border-box;
    display: block;
    content: '';
    border-bottom: 1px solid #ebedf0;
    transform: scaleY(0.5);
    pointer-events: none;
  }

  &:last-child::after {
    display: none;
  }
}
