/* postcss-pxtransform disable */
@import '../styles/variable.scss';

.c-cell {
  position: relative;
  display: flex;
  padding: 10px 16px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  color: $text-color;

  &--center {
    align-items: center;
  }

  &__title {
    flex: 1;
    color: $title-color;
  }

  &__label {
    margin-top: 4px;
    color: #969799;
    font-size: 12px;
    line-height: 18px;
  }

  &__value {
    flex: 1;
    text-align: right;
  }
}
