.demo {
  padding: 0 32px;
  overflow: hidden;
  min-height: 100vh;
  background-color: #f6f7f9;
}

.section {
  margin-bottom: 40px;

  .title {
    margin: 40px 0;
    font-size: 28px;
    color: #495060;
  }
}
