/* postcss-pxtransform disable */
@import '../styles/variable.scss';

$btn-prefix-cls: #{$class-prefix}-button;
$icon-prefix-cls: #{$class-prefix}-icon;
$loading-prefix-cls: #{$class-prefix}-loading;

.#{$btn-prefix-cls} {
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
  border: 1px solid $primary-color;
  padding: 14px;
  line-height: 0;
  box-shadow: none;
  font-size: $size-font-base;
  color: #fff;
  background-color: $primary-color;

  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  [class*='#{$icon-prefix-cls}'] + &__text,
  [class*='#{$loading-prefix-cls}'] + &__text {
    margin-left: 8px;
  }

  &[disabled] {
    pointer-events: none;
  }

  &::after {
    display: none;
    border: none;
  }

  &:active {
    opacity: 0.8;
  }

  &--small {
    padding: 7px;
    border-radius: 6px;
    font-size: $size-font-small;
  }

  &--large {
    padding: 17px;
    border-radius: 12px;
    font-size: $size-font-large;
  }

  &--primary {
    border-color: $primary-color;
    background-color: $primary-color;
  }

  &--secondary {
    border-color: $secondary-color;
    background-color: $secondary-color;
  }

  &--tertiary {
    border-color: $tertiary-color;
    background-color: $tertiary-color;
  }

  &--success {
    border-color: $success-color;
    background-color: $success-color;
  }

  &--warning {
    color: $dark-color;
    border-color: $warning-color;
    background-color: $warning-color;
  }

  &--danger {
    border-color: $danger-color;
    background-color: $danger-color;
  }

  &--dark {
    border-color: $dark-color;
    background-color: $dark-color;
  }

  &--medium {
    border-color: $medium-color;
    background-color: $medium-color;
  }

  &--light {
    color: $dark-color;
    border-color: $light-color;
    background-color: $light-color;
  }

  &--disabled {
    opacity: 0.6;
  }

  &--loading {
    opacity: 0.6;
  }

  &--block {
    display: block;
  }

  &--full {
    display: block;
    border-radius: 0;
  }

  &--circle {
    border-radius: 30px;
  }

  &--plain {
    background-color: #fff;
  }
}

.#{$btn-prefix-cls}.#{$btn-prefix-cls}--plain {
  color: $primary-color;
}

.#{$btn-prefix-cls}--primary.#{$btn-prefix-cls}--plain {
  color: $primary-color;
}

.#{$btn-prefix-cls}--secondary.#{$btn-prefix-cls}--plain {
  color: $secondary-color;
}

.#{$btn-prefix-cls}--tertiary.#{$btn-prefix-cls}--plain {
  color: $tertiary-color;
}

.#{$btn-prefix-cls}--success.#{$btn-prefix-cls}--plain {
  color: $success-color;
}

.#{$btn-prefix-cls}--warning.#{$btn-prefix-cls}--plain {
  color: $warning-color;
}

.#{$btn-prefix-cls}--danger.#{$btn-prefix-cls}--plain {
  color: $danger-color;
}

.#{$btn-prefix-cls}--dark.#{$btn-prefix-cls}--plain {
  color: $dark-color;
}

.#{$btn-prefix-cls}--medium.#{$btn-prefix-cls}--plain {
  color: $medium-color;
}

.#{$btn-prefix-cls}--light.#{$btn-prefix-cls}--plain {
  color: $light-color;
}
